body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brewerycard {
  display: flex;
  justify-content: space-around;
}

.details {
  flex: 2;
}

.statelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.state {
  width: 200px;
  text-align: center;
  margin: 2em 1em;
}

.state img {
  max-width: 90%;
}

h5 {
  margin-bottom: 2em;
}
